<html>
    <body>
        <h1>Enter a sentence</h1>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        <form action="/api/p">
            <input name="q" type="text"/>
            <select name="returnType">
                <option value="text">Text Tree</option>
                <option value="json">JSON</option>
                <option value="latex">LaTeX Tree</option>
                <option value="img">Image</option>
            </select>
            <input type="submit" />
        </form>
    </body>
</html>